@media all and (min-width: 480px) {
  .ForgotPassword {
    padding: 40px 0;
  }

  .AccountChangePassword form {
    margin: 0 auto;
    max-width: 400px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: ##3B4045;
    padding-bottom: 50px;
  }

  .AccountChangePassword form h3 {
    font-size: 30px;
    padding-bottom: 25px;
    font-style: bold;
    font-weight: 900;
    text-align: center;
  }
}

.AccountChangePassword form span.help-block {
  font-size: 14px;
  color: #999;
}

.AccountChangePassword p {
  padding-bottom: 15px;
}
