@media all and (min-width: 480px) {
  .Login {
    padding: 20px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 400px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: #3B4045;
    padding-bottom: 50px;
  }

  .Login form h3 {
    font-size: 30px;
    padding-bottom: 20px;
    font-style: bold;
    font-weight: 900;
    text-align: center;
  }
}
