@media all and (min-width: 480px) {
  .ResetPasswordSuccess, .ResetPasswordSuccess:active, .ResetPasswordSuccess:hover, .ResetPasswordSuccess:visited {
    padding: 20px 0;
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: #3B4045;
    padding-bottom: 50px;
    text-align: center;
  }

  .ResetPasswordSuccess h4 {
    font-size: 20px;
    padding-bottom: 20px;
    font-style: bold;
    font-weight: 900;
    text-align: center;
  }
}
