@media all and (min-width: 480px) {
  .Signup {
    padding: 40px 0;
  }

  .Signup form {
    margin: 0 auto;
    max-width: 400px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: ##3B4045;
  }

  .Signup form h3 {
    font-size: 30px;
    padding-bottom: 20px;
    font-style: bold;
    font-weight: 900;
    text-align: center;
  }
}

.Signup form span.help-block {
  font-size: 14px;
  padding-bottom: 10px;
  color: #999;
}

.Signup form p {
  padding-bottom: 20px;
}
