@media (min-width: 768px) {
  .App .dropdown:hover .dropdown-menu {
    display: block;
  }

}

.App .navbar-collapse {
  font-style: bold;
  font-weight: 900;
  font-size: 14px;
  color: #3B4045;
}

.App {
  margin-top: 5px;
}

.App .navbar {
  background-color: #FFFFFF;
  border: none;
  font-family: 'Quicksand', sans-serif;
}

.App .navbar-header {
  text-align: center;
}

.App .navbar-nav {
  text-align: right;
}


.App .navbar-brand, .App .navbar-brand:hover, .App .navbar-brand:active, .App .navbar-brand:visited {
  font-style: bold;
  font-weight: 900;
  font-size: 24px;
  color: #56CA9C;

}
