.App {
  margin-top: 5px;
}

.App .navbar {
  background-color: #FFFFFF;
  border: none;
  font-family: 'Quicksand', sans-serif;

}

.App .navbar-collapse {
  font-style: bold;
  font-weight: 900;
  font-size: 18px;
  color: #3B4045;

}

.App .navbar-brand, .App .navbar-brand:hover, .App .navbar-brand:active, .App .navbar-brand:visited {
  font-style: bold;
  font-weight: 900;
  font-size: 26px;
  color: #56CA9C;

}
